[access]
	inheritFrom = All-Projects
[project]
	description = For artifacts related to the integration with the OPNFV Dovetail tool
[access "refs/*"]
	owner = group ldap/onap-gerrit-vnfsdk-dovetail-integration-committers
	owner = group saml/onap-gerrit-vnfsdk-dovetail-integration-committers
	read = group GitHub Replication
